body{
  text-align: center;
  font-family: georgia sans-serif;

}


.left{
  text-align: left;
}


.main-info{
  background-color: black;
  position: relative;
  width: 100%;

}


.other-info{
  background-color: white
}


.white {
  color: white;
}

.bold-it{
  font-style: italic;
  font-weight: bold;
}

.update{
  color: red;
}
